.background {
  height: 80vh;
}

.main_body {
  font-size: 5rem;
  line-height: 1;
  width: 600px;
  height: 400px;
}

.header_image {
  position: absolute;
  top: 30%;
  width: 600px;
  height: 322px;
  object-fit: cover;
  opacity: 50%;
}

.indigo {
  bottom: 0px;
  background-color: rgb(30 58 138);
}
