.footerColor {
  background-color: #c4f9ff;
}

.footerUser1 {
  background-color: #c4f9ff;
}

.footerUser2 {
  background-color: #ffeecb;
}

.footerFrame {
  width: 100%;
  height: 1.5rem;
}

.footerPath {
  fill: #0d6efd;
}
