.home-user-bg {
  background-color: #fff8e6;
}

.home-user-survey-button:hover {
  background-color: #ffeecb;
}
/* .border-user-theme {
  border-bottom: 1px solid #0f7197;
} */

/* .home-user-notice-button {
  background-color: #076c94;
  height: 100px;
} */

.home-user-notice-button {
  background-color: #ffc107;
  color: white;
  height: 100px;
}

.home-user-notice-button:hover {
  background-color: #ffeecb;
  color: black;
}

.user-detail-header {
  height: 150px;
}

.user-detail-section {
  height: 500px;
}

.user-detail-to-list-button {
  background-color: #076c94;
}

.user-detail-to-list-button:hover {
  background-color: #03435c;
}
