.navItem {
  color: #5f4dee !important;
}

.navItemHover:hover {
  color: #5f4dee !important;
}

.navItemUser {
  color: #ffc107 !important;
}

.navItemUserHover:hover {
  color: #ffc107 !important;
}
